name: Pull request

'on':
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    name: 'Test'
    permissions:
      contents: read

    env:
      NODE_OPTIONS: --max-old-space-size=4096

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: jdx/mise-action@v2

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Run prettier
        run: yarn prettier:check

      - name: Run tsc
        run: yarn tsc

      - name: Run build
        run: yarn build:all

      - name: Run test
        run: yarn test

  e2e-test:
    name: 'E2E Test'
    permissions:
      contents: read

    env:
      NODE_OPTIONS: --max-old-space-size=4096

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: jdx/mise-action@v2

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Run prettier
        run: yarn prettier:check

      - name: Run tsc
        run: yarn tsc

      - name: Run build
        run: yarn build:all

      - name: Run e2e tests
        run: yarn test:e2e

  check-licenses:
    name: 'Check licenses'
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: jdx/mise-action@v2

      - name: Install dependencies
        run: yarn install

      - name: Check
        run: yarn check-licenses

  semanticpr:
    name: Semantic Pull Request
    permissions:
      pull-requests: read

    runs-on: ubuntu-latest

    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pre-commit:
    name: 'Pre-commit hooks'
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - name: Install dependencies
        run: yarn install
      - uses: pre-commit/action@v3.0.1
